body {
	height: 100vh;
	background-color: #FBFBFB;
	color: #646464;
}
a {
	margin: 10px;
	color: #BCBCBC;
}
#hackathonners {
	-webkit-filter: brightness(65%); /* Safari 6.0 - 9.0 */
    filter: brightness(65%);
}

#hackathonners:hover {
	-webkit-filter: brightness(10%); /* Safari 6.0 - 9.0 */
    filter: brightness(10%);
}